# Dependencies
node_modules/

# Next.js
frontend/.next/
frontend/out/

# NestJS
backend/dist/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db

# Hardhat
contracts/artifacts/
contracts/cache/
contracts/.openzeppelin/

# Hardhat coverage
contracts/coverage/
contracts/coverage.json